<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creepersan.file" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".FileApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.BootActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PermissionDescriptionActivity" android:screenOrientation="portrait"/>

        <activity android:name=".function.music.activity.MusicPlayerActivity" android:icon="@drawable/ic_activity_music_player" android:screenOrientation="portrait" android:label="@string/musicPlayerActivityTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="audio/*"/>
                <data android:pathPattern=".*\\..*"/>
            </intent-filter>
        </activity>
        <activity android:name=".function.text.TextViewerActivity" android:icon="@drawable/ic_activity_text_viewer" android:screenOrientation="portrait" android:label="@string/textViewerActivityTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="text/*"/>
                <data android:pathPattern=".*\\..*"/>
            </intent-filter>
        </activity>
        <activity android:name=".function.image.ImageViewerActivity" android:icon="@drawable/ic_activity_image_viewer" android:screenOrientation="portrait" android:label="@string/imageViewerActivityTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="image/*"/>
                <data android:pathPattern=".*\\..*"/>
            </intent-filter>
        </activity>
        <activity android:name=".function.video.activity.VideoPlayerActivity" android:icon="@drawable/ic_activity_video_player" android:screenOrientation="portrait" android:label="@string/videoPlayerActivityTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="video/*"/>
                <data android:pathPattern=".*\\..*"/>
            </intent-filter>
        </activity>

        <service android:name=".function.music.service.MusicPlayerService"/>

    </application>

</manifest>